{{#if home}}
  {{navbar-index}}
{{else}}
  {{navbar-global}}
{{/if}}

{{liquid-outlet}}


<div class="footer navbar-fixed-footer">
  <div class="container">
    <small>Let's keep in touch:</small>
    <a href="https://www.linkedin.com/in/mark-froehlich">{{fa-icon "linkedin"}}</a>
    <a href="https://www.github.com/minusthebear02">{{fa-icon "github"}}</a>
    <a href="https://www.instagram.com/mfroeh32/">{{fa-icon "instagram"}}</a>
    <a href="https://medium.com/@minusthebear02">{{fa-icon "medium"}}</a> 
    <small class="pull-right">&copy; 2017 Mark Froehlich</small> 
  </div>
</div>